:root {
    --rojoOscuro: #A62E44;
    --rojo: #F20505;
    --azulOscuro: #1B2440;
    --azul: #323cff;
    --Negro: #0D0D0D;
    --fondo: rgb(0, 0, 21);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.none{
    display: none;
}

/*  Unilinea */
.pareja{
    width: 90%;
    height: 80px;
}

.primero{
    width: 70%;
    height: 100%;
    float: left;
}
.segundo{
    width: 30%;
    height: 100%;
    float: left;
}

.grupo{
    width: 90%;
    height: 80px;
}

.uno{
    width: 33%;
    height: 100%;
    float: left;
}
.dos{
    width: 33%;
    height: 100%;
    float: left;
}
.tres{
    width: 33%;
    height: 100%;
    float: left;
}
.ctdDireccion{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.ctdProducto{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}
.ctdIcon{
    background-color: green;
    color: white;
    width: 10%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}
.ctdIcon i{
    font-size: 20px;
    cursor: pointer;
}
.contenedor_producto_dos{
    width: 80%;
    height: 100%;
    float: left;
} 
.contenedor_direccion{
    width: 80%;
    height: 100%;
    float: left;
}

/* fechas */
.subir{
    transform: translateY(-520px);
}

.sub_container_dates{
    background-color: var(--azulOscuro);
    width: 95%;
    height: 520px;
    margin: auto;
    padding-top: 20px;
    position: relative;
    z-index: 100;
    transition: all .3s;
}

.flecha{
    background-color: var(--azulOscuro);
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 100;
    width: 30px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid var(--azul);
    border-right: 2px solid var(--azul);
    border-bottom: 2px solid var(--azul);
    cursor: pointer;
}

.flecha i{
    font-size: 25px;
    color: var(--azul);
}

.query_date {
    width: 100%;
    height: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_fechas label,
.last_date label {
    color: #fff;
    text-align: left;
    font-size: 12px;
}

.contenedor_fechas {
    width: 40%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fechas {
    background-color: var(--fondo);
    color: white;
    width: 50%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5%;
    border: 1px var(--azulOscuro) solid;
    outline: none;
    padding-left: 2%;
}

.btn_consultar{
    background-color: rgb(0, 105, 0);
    color: #fff;
    width: 80px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgb(7, 255, 7);
}

/* consulta */

.orders-product {
    width: 100%;
    height: 50%;
}

.contenedor_pedido{
    width: 80%;
    height: 20%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_producto{
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 20px;
}

.modal_pedido div.dataTables_wrapper {
    color: var(--Negro);
  }

div.dataTables_wrapper {
    color: #fff;
  }

.subtitulo{
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}

.selectors_consulta {
    background-color: var(--fondo);
    color: #fff;
    width: 90%;
    height: 40px;
    padding-left: 10px;
    font-size: 12px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
}

/* Botones consulta */

.buttons_forDate {
    width: 50%;
    height: 25%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editar{
    background-color: rgb(0, 143, 129);
    color: #fff;
    width: 40%;
    height: 40px;   
    border: 1px solid turquoise;
    cursor: pointer;
}

.eliminar{
    background-color: var(--rojoOscuro);
    color: #fff;
    width: 40%;
    height: 40px;
    margin-left: 20px;
    border: 1px solid var(--rojo);
    cursor: pointer;
}


/* Contenedor */

.contenedorPrincipal{
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

/* Primer cuadro */
.encabezado{
    background-color: var(--azulOscuro);
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_title {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.link_guardar{
    text-decoration: none;
}

.customer_frame {
    background-color: #fff;
    width: 30%;
    height: 100%;
    float: left;
    border-right: 1px solid var(--azulOscuro);
}

.sub_container {
    width: 100%;
    margin: auto;
    padding-top: 10px;
    padding-left: 8%;
    display: flex;
    flex-direction: column;
    float: left; 
}


.sub_container_pd {
    width: 50%;
    height: 90%;
    margin: auto;
    padding-left: 5%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    float: left; 
}

.subtitle_input{
    color: var(--Negro);
    text-align: left;
    font-size: 11px;
    margin-bottom: 10px;
}


.selectors {
    background-color: #fff;
    color: var(--Negro);
    width: 90%;
    height: 40px;
    padding-left: 8px;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
}

.info_boxes {
    background-color: #fff;
    color: var(--Negro);
    width: 90%;
    height: 40px;
    padding-left: 8px;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
}

.direccion{
    background-color: #fff;
    color: var(--Negro);
    width: 100%;
    height: 40px;
    padding-left: 8px;
    font-size: 12px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
}

/* lista de autocompletado */
.input_autocomplete{
    background-color: #fff;
    color: var(--Negro);
    width: 100%;
    height: 100%;
    padding-left: 8px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
}
.autoC{
    position: relative;
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
}

.autoC_pd{
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
.autoC_direccion{
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
.autocomplete_listClient{
    background-color: var(--azulOscuro);
    width: 100%;
    max-height: 300px;
    position: absolute;
    left: 0;
    top: 40px;
    list-style: none;
    overflow:scroll;
    overflow-x:hidden;
    z-index: 100;
}

.autocomplete_listClient li {
    color: white;
    padding: 14px;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid var(--azul);
    cursor: pointer;
    z-index: 2000;
}

.autocomplete_listClient li:hover {
    color: var(--rojoOscuro);
}

.comentario{
    background-color: #fff;
    color: var(--Negro);
    width: 90%;
    padding-top: 5px;
    padding-left: 8px;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
}


.autocomplete_list {
    background-color: var(--azulOscuro);
    width: 100%;
    max-height: 300px;
    position: absolute;
    left: 0;
    top: 40px;
    list-style: none;
    overflow:scroll;
    overflow-x:hidden;
    z-index: 100;
}

.autocomplete_list li {
    color: white;
    padding: 14px;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid var(--azul);
    cursor: pointer;
    z-index: 2000;
}

.autocomplete_list li:hover {
    color: var(--rojoOscuro);
}
.above_all {
    position: absolute;
    width: 10%;
    margin-top: 10px;
    margin-left: 2%;
}

.above_all a {
    text-decoration: none;
    color: var(--azul);
    outline: none;
}

.above_all a h3,
i { 
    font-size: 15px;
    float: left;
}

.above_all a i {
    padding-left: 5px;
}


/* ********* */

.autocomplete_listPro{
    background-color: var(--azulOscuro);
    width: 100%;
    max-height: 300px;
    position: absolute;
    left: 0;
    top: 40px;
    list-style: none;
    overflow:scroll;
    overflow-x:hidden;
    z-index: 100;
}
.autocomplete_listPro li {
    color: white;
    padding: 14px;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid var(--azul);
    cursor: pointer;
    z-index: 2000;
}

.autocomplete_listPro li:hover {
    color: var(--rojoOscuro);
}

/* ******************** */

/* segundo cuadro */

.box_products {
    background-color: #fff;
    width: 70%;
    height: 100%;
    float: left;;
}

.mensaje{
    background-color: rgb(101, 101, 11);
    width: 90%;
    height: 40px;
    border: 1px solid rgb(134, 134, 0);
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.mensaje p{
    font-size: 15px;
    color: white;
    text-align: center;
}

.add {
    background-color: var(--azulOscuro);
    color: #fff;
    width: 90%;
    height: 50px;
    margin-top: 5%;
    font-size: 15px;
    border: 1px var(--azul) solid;
    outline: none;
    cursor: pointer;
}

.see {
    background-color: var(--fondo);
    color: #fff;
    width: 90%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 15px;
    border: 1px var(--rojoOscuro) solid;
    outline: none;
    cursor: pointer;
}

.fondoMensaje{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.contenedor_nombre{
    background-color: #ffff;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border: 2px solid var(--azul);
}

.fondo{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal_pedido{
    background-color: #ffff;
    width: 90%;
    height: 80%;
    border: 2px solid var(--azul);
    position: relative;
}
.btn_cerrar{
    font-size: 30px;
    color: var(--Negro);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
 }

.titulo_pedido{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}


.add_more {
    background-color: var(--fondo);
    color: #fff;
    width: 15%;
    height: 50px;
    font-size: 15px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
    cursor: pointer;
}

.save {
    background-color: var(--azulOscuro);
    color: #fff;
    width: 15%;
    height: 50px;
    font-size: 15px;
    position: absolute;
    right: 20%;
    bottom: 20px;
    border: 1px var(--azul) solid;
    outline: none;
    cursor: pointer;
}

.cuadro_botones{
    width: 100%;
    height: 5%;
    margin-top: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.button_removeRegistry {
    background-color: rgb(191, 40, 40);
    color: white;
    width: 40px;
    height: 100%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    float: left;
    box-shadow: 2px 4px #0000008c;
}
.button_removeRegistry i{
    font-size: 20px;
}

.contenedor_select_pedidos {
    width: 50%;
    height: 50%;
    margin: auto;
}
.ctntFinal{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.total{
   font-size: 20px;
}
.total_cantidad{
    font-size: 20px;
    margin-left: 5px;
}

/* responsive */

@media (max-width: 1165px) {
    .above_all h3{
        display: none;
    }
}
@media (max-width: 900px) {
    .contenedor_select_pedidos {
        width: 95%;
    }    
    .subir{
        transform: translateY(-80vh);
    }
    .sub_container_dates{
        height: 80vh;
    }
    .query_date{
        width: 80%;
        height: 28%;
        flex-direction: column;
    }
    .contenedor_fechas{
        width: 100%;
        height: 30%;
    }
    .fechas{
        width: 80%;
        margin-left: 0;
    }
    .contenedor_fechas label{
        margin-right: 10px;
    }
    .btn_consultar{
        margin-top: 10px;
    }
    .buttons_forDate{
        width: 100%;
    }
    .contenedorPrincipal{
        display: flex;
        flex-direction: column;
    }
    .customer_frame{
        width: 100%;
        border: none;
    }
    .box_products{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .sub_container{
        margin-top: 5%;
    }
    .sub_container_pd{
        width: 100%;
        padding-left: 8%;
    }
    .see{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .modal_pedido{
        width: 95%;
    }
    .dataTables_wrapper{
        overflow-y: scroll;
        overflow-x: scroll;
    }
    .selector{
        width: 75%;
    }
    .add_more{
        width: 90%;
        right: 5%;
        bottom: 90px;
    }
    .save{
        width: 90%;
        right: 5%;
        bottom: 20px;
    }
}
