:root {
    --rojoOscuro: #A62E44;
    --rojo: #F20505;
    --azulOscuro: #1B2440;
    --azul: #030A8C;
    --Negro: #0D0D0D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    position: relative;
    width: 25%;
    height: 75vh;
    margin: auto;
    margin-top: 12vh;
}

.login_form {
    background-color: #ffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    position: absolute;
    top: 5%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
    height: 100%;
}

.ctntIcono{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12%;
    position: relative;
}
.icono{
    position: absolute;
    width: 40px;
    height: 100%;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icono i{
    color: var(--Negro);
    font-size: 18px;
}

.inputs_login {
    background-color: #fff;
    color: var(--Negro);
    width: 100%;
    height: 50px;
    padding-left: 40px;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.log_in {
    background-color: var(--azulOscuro);
    color: #fff;
    width: 80%;
    height: 45px;
    position: absolute; 
    bottom: 10%;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s;
}
@media (max-width: 1110px) {
    .contenedor {
        width: 100%;
        height: 100vh;
        margin-top: 0;
        border-radius: 0;
    }
    .logo img{
        width: 65%;
    }
    .login_form{
        border-radius: 0;
        border: none;
    }
    .log_in{
        position: static;
    }
}