:root {
    --balck: rgba(0, 0, 0, 0.394);
    --dark: #172026;
    --turquoise: #04BF9D;
    --celeseTra: #22bfd47f;
    --celese: #22C0D4;
    --dGreen: #027373;
    --white: rgba(255, 255, 255, 0.403);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../imgs/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.login_form {
    background-color: var(--dark);
    width: 25%;
    height: 70vh;
    margin: auto;
    margin-top: 14vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_login {
    color: var(--turquoise);
    text-align: center;
    margin-bottom: 10%;
    font-size: 30px;
    font-weight: lighter;
}

.inputs_login {
    background-color: var(--balck);
    color: white;
    width: 80%;
    height: 50px;
    margin-bottom: 12%;
    padding-left: 5px;
    border: 3px var(--celeseTra) solid;
    outline: none;
}

.log_in {
    background-color: var(--dGreen);
    color: white;
    width: 80%;
    height: 15%;
    margin-top: 3%;
    border: 4px var(--celese) dashed;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}

@media (max-width: 1110px) {
    .login_form {
        width: 100%;
        height: 100vh;
        margin-top: 0;
        border-radius: 0;
    }
    .title_login {
        margin-top: 2%;
    }
    .inputs_login,
    .log_in {
        height: 10vh;
    }
}