:root {
    --rojoOscuro: #A62E44;
    --rojo: #F20505;
    --azulOscuro: #1B2440;
    --azul: #323cff;
    --Negro: #0D0D0D;
    --fondo: rgb(0, 0, 21);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Contenedor principal */
.form_box {
    background-color: var(--fondo);
    width: 100%;
    height: 100vh;
    margin: auto;
}

/* Controles */
.main_title {
    color: #fff;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.container{
    width: 100%;
    height: 90%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.sub_container {
    width: 40%;
    height: 100%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left; 
}

.subtitle_input{
    color: #fff;
    text-align: left;
    font-size: 11px;
    margin-bottom: 10px;
}

.selectors {
    background-color: var(--fondo);
    color: #fff;
    width: 90%;
    height: 40px;
    padding-left: 8px;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
}

.info_boxes {
    background-color: var(--fondo);
    color: #fff;
    width: 90%;
    height: 40px;
    padding-left: 8px;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
}


.customer_name_box{
    background-color: var(--balck);
    color: white;
    width: 30%;
    height: 15%;
    margin-top: 8%;
    margin-bottom: 20px;
    padding-left: 5px;
    border: 3px var(--celeseTra) solid;
    outline: none;
}

.comentario{
    background-color: var(--fondo);
    color: #fff;
    width: 90%;
    padding-top: 5px;
    padding-left: 8px;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
}


.info_boxes:focus, .comments:focus, .selectors:focus, .department_selector:focus {
    border: 1px var(--azul) solid;
}


.send {
    background-color: var(--azulOscuro);
    color: white;
    width: 90%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 4px var(--celese) dashed;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}


.above_all {
    position: absolute;
    width: 10%;
    margin-top: 25px;
    margin-left: 2%;
}

.above_all a {
    text-decoration: none;
    color: var(--rojoOscuro);
    outline: none;
}

.above_all a h3,
i { 
    font-size: 15px;
    float: left;
}

.above_all a i {
    padding-left: 5px;
} 

.autocomplete_listClient{
    background-color: rgb(18, 17, 17);
    color: white;
    width: 27%;
    max-height: 40%;
    top: 26vh; 
    left: 54.5vw;
    position: absolute;
    list-style: none;
    overflow:scroll;
    overflow-x:hidden;
    z-index: 1000;
}

.autocomplete_listClient li {
    cursor: pointer;
   z-index: 2000;
}

.autocomplete_listClient li:hover {
    background-color: rgb(36, 36, 36) ;
}

.show_informationButton{
    background-color: var(--celeseTra);
    color: white;
    width: 30%;
    height: 14%;
    margin-top: 2%;
    margin-left: 10%;
    border: none;
    cursor: pointer;
    font-size: 15px;
    float: left;
}


input[type=checkbox] {
	visibility: hidden;
}
.checkbox-JASoft {
	display: inline-block;
	position: relative;
    width: 70px;
	height: 30px;
    margin-top: 3%;
    margin-left: 9%;
	background: #555;
	border-radius: 15px;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.6), 0px 1px 0px rgba(255,255,255,0.3);   
}

.checkbox-JASoft label {
    /* aspecto */
    display: block;
    width: 34px;
	height: 20px;
	border-radius: 17px;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.35);
	background: #fcfff4;
	background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    cursor: pointer;
    
    /* Posicionamiento */
    position: absolute;
    top: 5px;
	left: 5px;
    z-index: 1;
    
	/* Comportamiento */
    transition: all .4s ease;
    
    /* ocultar el posible texto que tenga */
    overflow: hidden;
    text-indent: 35px;  
    transition: text-indent 0s;
}
.checkbox-JASoft input[type=checkbox]:checked + label {
	left: auto;
    right: 5px;
}

.checkbox-JASoft:after {
	content: 'NO';
	font: 12px/30px Arial, sans-serif;
	color: #AAA;
	position: absolute;
	right: 10px;
    z-index: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0px rgba(255,255,255,.20);
}

.checkbox-JASoft:before {
	content: 'SÍ';
	font: 12px/30px Arial, sans-serif;
	color: lime;
	position: absolute;
	left: 10px;
	z-index: 0;
	font-weight: bold;
}

.text_edit{
    width: 100px;
    margin-top: 3%;
    margin-left: 15%;
    float: left;    
}   

.edit{
    color: white;
    position: relative;
    top: 2px;
    left: 50%;
    display: flex;
    justify-content: right;
    font-size: 20px;
    font-weight: lighter;
}

@media (max-width: 1165px) {
    .above_all h3{
        display: none;
    }
}
@media (max-width: 1214px) {
    .form_box{
        height: auto;
    }
    .container{
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .sub_container{
        width: 100%;
        padding-left: 10%;
    }
}