 :root {
    --balck: rgba(0, 0, 0, 0.394);
    --dark: #172026;
    --turquoise: #04BF9D;
    --celeseTra: #22bfd47f;
    --celese: #22C0D4;
    --dGreen: #027373;
    --white: rgba(255, 255, 255, 0.403);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(6,255,139);
background: linear-gradient(40deg, rgba(6,255,139,1) 0%, rgba(33,235,178,1) 26%, rgba(242,242,242,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.link_guardar{
    text-decoration: none;
}

.customer_frame {
    background-color: var(--dark);
    width: 90%;
    height: 85vh;
    margin: auto;
    margin-top: 4vh;
    border-radius: 20px;
}

.main_title {
    color: var(--celese);
    text-align: center;
    padding-top: 3%;
    font-size: 30px;
    font-weight: lighter;
}

.sub_container {
    width: 70%;
    height: 65%;
    margin: auto;
    margin-top: 4%;
}

.sub_container-dates {
    background-color: var(--dark);
    width: 90%;
    height: 80vh;
    margin: auto;
    margin-top: 4vh;
    border-radius: 20px;
    padding-top: 1%;
}


.first_half{
 width: 50%;
 height: 100%;
 float: left; 
 display: flex;
 flex-direction: column;
}

.second_half{
    width: 50%;
    height: 100%;
    float: left; 
    float: left; 
    display: flex;
    flex-direction: column;
}

#departamento {
    width: 50%;
    height: 15%;
    float: left;
}


.selectors {
    background-color: var(--balck);
    color: white;
    width: 80%;
    height: 15%;
    margin-bottom: 20px;
    padding-left: 5px;
    border: 3px var(--celeseTra) solid;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../imgs/flecha.png');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1.50em auto, 100%;
    outline: none;
}

.autocomplete_list {
    background-color: rgb(18, 17, 17);
    color: white;
    width: 180px;
    max-height: 40%;
    top: 10vh; 
    position: absolute;
    list-style: none;
    overflow:scroll;
    overflow-x:hidden;
    z-index: 1000;
}

.autocomplete_list li {
    cursor: pointer;
   z-index: 2000;
}

.autocomplete_list li:hover {
    background-color: rgb(36, 36, 36) ;
}

.autocomplete_listPro{
    background-color: rgb(18, 17, 17);
    color: white;
    width: 180px;
    max-height: 40%;
    top: 29vh; 
    position: absolute;
    list-style: none;
    overflow:scroll;
    overflow-x:hidden;
    z-index: 1000;
}
.autocomplete_listPro li {
    cursor: pointer;
   z-index: 2000;
}

.autocomplete_listPro li:hover {
    background-color: rgb(36, 36, 36) ;
}


.autocomplete_listClient{
    background-color: rgb(18, 17, 17);
    color: white;
    width: 180px;
    max-height: 40%;
    top: 47vh; 
    left: 18.5vw;
    position: absolute;
    list-style: none;
    overflow:scroll;
    overflow-x:hidden;
    z-index: 1000;
}

.autocomplete_listClient li {
    cursor: pointer;
   z-index: 2000;
}

.autocomplete_listClient li:hover {
    background-color: rgb(36, 36, 36) ;
}

.comentario{
    width: 20%;
}

.comments {
    background-color: var(--balck);
    width: 100%;
    margin-bottom: 24px;
    padding-left: 5px;
    border: 3px var(--celeseTra) solid;
    outline: none;
    color: var(--white);
    font-weight: lighter;
}

.above_all {
    position: absolute;
    width: 10%;
    margin-top: 2%;
    margin-left: 2%;
}

.above_all a {
    text-decoration: none;
    color: var(--dGreen);
    outline: none;
}

.above_all a:hover {
    color: var(--white);
}

.above_all a h3,
i {
    float: left;
}

.above_all a i {
    font-size: 25px;
    padding-left: 3%;
}
/* segundo cuadro */

.box_products {
    background-color: var(--dark);
    width: 90%;
    height: 90vh;
    margin: auto;
    margin-top: 4vh;
    border-radius: 20px;
}

.second_sub_container {
    width: 80%;
    height: 65%;
    margin: auto;
    margin-top: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.info_boxes {
    background-color: var(--balck);
    color: white;
    width: 180px;
    height: 14%;
    margin-bottom: 55px;
    padding-left: 5px;
    border: 3px var(--celeseTra) solid;
    outline: none;
}


.selector {
    background-color: var(--balck);
    color: white;
    width: 200px;
    height: 15%;
    margin-bottom: 50px;
    padding-left: 5px;
    border: 3px var(--celeseTra) solid;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../imgs/flecha.png');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1.50em auto, 100%;
    outline: none;
}

.add {
    background-color: var(--dGreen);
    color: white;
    width: 20%;
    height: 15%;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 0%;
    border: 4px var(--celese) dashed;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.see {
    display: none;
    background-color: var(--dGreen);
    color: white;
    width: 100%;
    height: 10vh;
    margin-bottom: 10vh;
    border: 4px var(--celese) dashed;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.add_more {
    display: none;
    background-color: var(--dGreen);
    color: white;
    width: 100%;
    height: 10vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border: 4px var(--celese) dashed;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.save {
    background-color: var(--dGreen);
    color: white;
    width: 15%;
    height: 10vh;
    margin-left: 70%;
    margin-bottom: 10vh;
    border: 4px var(--celese) dashed;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

#main-container {
    margin: 100px auto;
    width: 70%;
    height: 50px;
}

.product_selector {
    background-color: var(--balck);
    color: white;
    width: 80%;
    height: 100%;
    padding-left: 5px;
    border: 3px var(--celeseTra) solid;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('../imgs/flecha.png');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: 1.50em auto, 100%;
    outline: none;
    float: left;
    cursor: pointer;
}

.button_removeRegistry {
    background-color: rgb(191, 40, 40);
    color: white;
    width: 20%;
    height: 100%;
    border: 2px white solid;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    float: left;
    transition: .3s;
}

.button_removeRegistry:hover {
    background-color: rgb(170, 42, 42);
    color: rgba(255, 255, 255, 0.863);
}
/* fechas */

.query_date {
    width: 90%;
    height: 10%;
    margin: auto;
    margin-top: 10%;
}

.start_date {
    width: 40%;
    height: 100%;
    float: left;
}

.start_date label,
.last_date label {
    color: white;
    width: 40%;
    height: 100%;
}

#fechaInicio,
#fechaFinal {
    background-color: var(--balck);
    color: white;
    width: 50%;
    height: 100%;
    margin-left: 5%;
    border: 3px var(--celeseTra) solid;
    outline: none;
    padding-left: 2%;
}

.last_date {
    width: 40%;
    height: 100%;
    float: left;
}

#bttnConsultar {
    background-color: rgb(40, 191, 40);
    color: white;
    width: 20%;
    height: 100%;
    border: 2px white solid;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    float: left;
}


.orders-product {
    width: 90%;
    height: 35%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.orders {
    width: 100%;
    height: 40%;
}

.products {
    width: 100%;
    height: 40%;
    margin-top: 1%;
}

.orders label,
.products label {
    color: white;
}

.orders #listaPedidos {
    width: 85%;
    height: 100%;
    margin-left: 5%;
}

.products #listaProductos {
    width: 85%;
    height: 100%;
    margin-left: 3%;
}

.buttons_forDate {
    width: 40%;
    height: 10%;
    margin: auto;
    margin-top: 2%;
}

#bttnEditar {
    background-color: rgb(40, 191, 126);
    color: white;
    width: 45%;
    height: 100%;
    border: 2px white solid;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    float: left;
}

#bttnEliminar {
    background-color: rgb(191, 40, 40);
    color: white;
    width: 45%;
    height: 100%;
    margin-left: 10%;
    border: 2px white solid;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    float: left;
}

.subtitle_input{
    color: var(--celese);
    font-size: 11px;
}

.mensaje{
    background-color: rgb(101, 101, 11);
    width: 100%;
    height: 40px;
    border: 1px solid rgb(134, 134, 0);
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.mensaje p{
    color: white;
    text-align: center;
}

/* .onlyUppercase{
    text-transform:uppercase;
} */


/* responsive */

@media (max-width: 1280px) {

    .first_half{
        width: 100%;
    }
    .second_half{
        width: 100%;
    }
    .comentario{
        width: 100%;
    }
    body{
        height: 100vh;
    }
    #fechaInicio,
#fechaFinal {
    width: 82%;
}
    .customer_frame {
        width: 100%;
        height: 100%;
        margin-top: 0;
        border-radius: 0;
    }
    .sub_container {
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #departamento {
        width: 100%;
        height: 10vh;
    }
    #cliente {
        width: 100%;
        height: 10vh;
        margin-left: 0;
    }
    .box_products {
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 0;
        border-radius: 0;
    }
    .second_sub_container {
        display: flex;
        flex-direction: column;
    }
    .info_boxes {
        width: 100%;
        height: 10vh;
        margin-bottom: 20px;
    }
    .above_all a h3 {
        display: none;
    }
    .selector {
        width: 100%;
        height: 10vh;
        margin-bottom: 20px;
    }
    #cantidad {
        margin-bottom: 3vh;
    }
    .add {
        width: 100%;
        height: 10vh;
        position: relative;
        right: 0%;
        margin-top: 5%;
        margin-bottom: 5vh;
    }
    .see {
        display: block;
    }
    #main-container {
        display: none;
    }
    .save {
        display: none;
        width: 100%;
        height: 10vh;
        position: static;
        margin-left: 0;
    }
    .autocomplete_list {
        width: 100%;
        top: 12vh; 
    }
    .autocomplete_listPro {
        width: 100%;
        top: 28vh;
    }
    .sub_container-dates {
        width: 100%;
        height: 95vh;
        margin-top: 0;
        border-radius: 0;
        padding-top: 1%;
    }
    .query_date,
    .orders-product,
    .buttons_forDate {
        width: 80%;
        height: 10%;
    }
    .query_date {
        height: 35%;
        text-align: center;
    }
    .orders-product {
        height: 40%;
    }
    .start_date,
    .last_date {
        width: 100%;
        height: 30%;
        margin-top: 2%;
    }
    #bttnConsultar {
        width: 50%;
        height: 20%;
        float: none;
        margin-top: 2%;
    }
    .autocomplete_listClient{
        width: 80%;
        top: 36vh;
        left: auto;
    }
    .main_title {
        margin-bottom: 10%;
    }
}

@media (max-width: 815px) {
    .start_date label,
    .last_date label,
    .orders label,
    .products label {
        display: none;
    }
    .products #listaProductos,
    .orders #listaPedidos {
        margin-left: 0;
    }
   
}

@media (max-width: 750px) {
    .button_removeRegistry {
        background-color: rgb(191, 40, 40);
        color: white;
        width: 20%;
        height: 100%;
        border: 2px white solid;
        font-size: 15px;
        outline: none;
        cursor: pointer;
        float: left;
        transition: .3s;
    }
    .autocomplete_listClient{
        top: 41vh;
    }
}