:root {
    --rojoOscuro: #A62E44;
    --rojo: #F20505;
    --azulOscuro: #1B2440;
    --azul: #323cff;
    --Negro: #0D0D0D;
    --fondo: rgb(0, 0, 21);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Contenedor */
.contenedorPrincipal{
    background-color: #fff;
    width: 100%;
    height: 100%;
}

/* Primer cuadro */
.main_title {
    color: #fff;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.link_guardar{
    text-decoration: none;
}

.customer_frame {
    background-color: var(--fondo);
    width: 30%;
    height: 100%;
    float: left;
    border-right: 1px solid var(--azulOscuro);
}

.sub_container {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 10px;
    padding-left: 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    float: left; 
}

.subtitle_input{
    color: #fff;
    text-align: left;
    font-size: 11px;
    margin-bottom: 10px;
}

.selectors {
    background-color: var(--fondo);
    color: #fff;
    width: 90%;
    height: 40px;
    padding-left: 8px;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
}

.info_boxes {
    background-color: var(--fondo);
    color: #fff;
    width: 90%;
    height: 40px;
    padding-left: 8px;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
}
.comentario{
    background-color: var(--fondo);
    color: #fff;
    width: 90%;
    padding-top: 5px;
    padding-left: 8px;
    margin-bottom: 20px;
    font-size: 12px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
}
/* lista de autocompletado */
.input_autocomplete{
    background-color: var(--fondo);
    color: #fff;
    width: 100%;
    height: 100%;
    padding-left: 8px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
}
.autoC{
    position: relative;
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
}
.autocomplete_list {
    background-color: var(--azulOscuro);
    width: 100%;
    max-height: 300px;
    position: absolute;
    left: 0;
    top: 40px;
    list-style: none;
    overflow:scroll;
    overflow-x:hidden;
    z-index: 100;
}

.autocomplete_list li {
    color: white;
    padding: 14px;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid var(--azul);
    cursor: pointer;
    z-index: 2000;
}

.autocomplete_list li:hover {
    color: var(--rojoOscuro);
}

.above_all {
    position: absolute;
    width: 10%;
    margin-top: 25px;
    margin-left: 2%;
}

.above_all a {
    text-decoration: none;
    color: var(--rojoOscuro);
    outline: none;
}

.above_all a h3,
i { 
    font-size: 15px;
    float: left;
}

.above_all a i {
    padding-left: 5px;
}

/* ********* */
/* segundo cuadro */

.box_products {
    background-color: var(--fondo);
    width: 70%;
    height: 100%;
    float: left;;
}

.second_sub_container {
    width: 50%;
    height: 90%;
    margin: auto;
    padding-top: 2%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    float: left; 
}

.add {
    background-color: var(--azulOscuro);
    color: #fff;
    width: 90%;
    height: 50px;
    margin-top: 5%;
    font-size: 15px;
    border: 1px var(--azul) solid;
    outline: none;
    cursor: pointer;
}

.see {
    background-color: var(--fondo);
    color: #fff;
    width: 90%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 15px;
    border: 1px var(--rojoOscuro) solid;
    outline: none;
    cursor: pointer;
}

.fondo{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal_pedido{
    background-color: #ffff;
    width: 90%;
    height: 80%;
    border: 2px solid var(--amarilloOscuro);
    position: relative;
}

.titulo_pedido{
    color: var(--amarillo);
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}


.add_more {
    background-color: var(--fondo);
    color: #fff;
    width: 15%;
    height: 50px;
    font-size: 15px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    border: 1px var(--azulOscuro) solid;
    outline: none;
    cursor: pointer;
}

.save {
    background-color: var(--azulOscuro);
    color: #fff;
    width: 15%;
    height: 50px;
    font-size: 15px;
    position: absolute;
    right: 20%;
    bottom: 20px;
    border: 1px var(--azul) solid;
    outline: none;
    cursor: pointer;
}
.contenedor_select_pedidos {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 40%;
    height: 100%;
    font-size: 12px;
    border: 1px var(--amarilloOscuro) solid;
    outline: none;
}

.button_removeRegistry {
    background-color: rgb(191, 40, 40);
    color: white;
    width: 10%;
    height: 100%;
    margin-left: 10px;
    font-size: 15px;
    border: 1px var(--Negro) solid;
    outline: none;
    cursor: pointer;
    float: left;
}
/* fechas */

.query_date {
    width: 90%;
    height: 10%;
    margin: auto;
    margin-top: 10%;
}

.start_date {
    width: 40%;
    height: 100%;
    float: left;
}

.start_date label,
.last_date label {
    color: white;
    width: 40%;
    height: 100%;
}

#fechaInicio,
#fechaFinal {
    background-color: var(--balck);
    color: white;
    width: 50%;
    height: 100%;
    margin-left: 5%;
    border: 3px var(--celeseTra) solid;
    outline: none;
    padding-left: 2%;
}

.last_date {
    width: 40%;
    height: 100%;
    float: left;
}


.orders-product {
    width: 90%;
    height: 35%;
    text-align: center;
    margin: auto;
    margin-top: 2%;
}

.orders {
    width: 100%;
    height: 40%;
}

.products {
    width: 100%;
    height: 40%;
    margin-top: 1%;
}

.orders label,
.products label {
    color: white;
}

.buttons_forDate {
    width: 40%;
    height: 10%;
    margin: auto;
    margin-top: 2%;
}

/* radio select */
.abono_total{
    width: 180px;
    height: 14%;
    margin-bottom: 55px;
    display: flex;
    justify-items: center;
}

.abono_texto{
    margin-right: 20%;
}

.abono_total label{
   color: white;
   margin-top: 10%;
   margin-left: 2%;
}


.text_edit{
    width: 100px;
    margin-top: 2%;
    margin-right: 5%;
    float: left;    
}   

.edit{
    color: white;
    position: relative;
    display: flex;
    justify-content: right;
    font-size: 18px;
    font-weight: lighter;
}
/* responsive */

@media (max-width: 1165px) {
    .above_all h3{
        display: none;
    }
}
@media (max-width: 900px) {
    .contenedorPrincipal{
        display: flex;
        flex-direction: column;
    }
    .customer_frame{
        width: 100%;
        border: none;
    }
    .box_products{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .sub_container{
        margin-top: 5%;
    }
    .second_sub_container{
        width: 100%;
        padding-left: 8%;
        padding-top: 5%;
    }
    .see{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .modal_pedido{
        width: 95%;
        height: 50%;
    }
    .selector{
        width: 75%;
    }
    .button_removeRegistry{
        width: 20%;
        margin-left: 0;
    }
    .add_more{
        width: 90%;
        right: 5%;
        bottom: 90px;
    }
    .save{
        width: 90%;
        right: 5%;
        bottom: 20px;
    }
}
